.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
  max-width: 100%;
}