.card {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 200px;
  height: 315px;
  background-color: #1a1a1a;
  color: white;
  transition: transform 0.25s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}


