#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
  padding: 35px;
  margin-top: 100px;
}


.success{
  font-style: italic;
  font-weight: bold;
  color: green;
}




*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}